# Database Connection URL (PostgreSQL compatible)
DATABASE_URL="postgresql://johndoe:mypassword@localhost:5432/college_discovery?schema=public"

# JWT Token Secret for Authentication
JWT_SECRET="your_super_secret_jwt_sign_key_here_at_least_32_characters"

# App Port (Optional)
PORT=3000
