# Database Connection URL (PostgreSQL compatible)
DATABASE_URL="postgresql://neondb_owner:npg_KyfCZ6Osbm8N@ep-falling-sound-aounukl0.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require"

# JWT Token Secret for Authentication
JWT_SECRET="campusiq_super_secret_jwt_key_2024"

# App Port (Optional)
PORT=3000
